@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

/* Resetowanie - Reset style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rowdies', sans-serif;
}
body{
   min-height: 100vh;
   background-color: #131416;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   padding: 0 10rem;
}
::selection{
   background-color: #000;
   color: #129cff;
}
section{
   display: flex;
   flex-wrap: wrap;
}
.container{
   width: 500px;
   height: 600px;
   padding: 25px 30px;
}
.heading{
   text-align: center;
   text-decoration: underline;
   text-underline-offset: 10px;
   text-decoration-thickness: 5px;
   margin-bottom: 50px;
}

.horizontal-bars .bar{
   margin: 40px 0;
}
.horizontal-bars .bar:first-child{
   margin-top: 0;
}
.horizontal-bars .bar:last-child{
   margin-bottom: 0;
}
.horizontal-bars .bar .info{
   margin-bottom: 5px;
}
.horizontal-bars .bar .info span{
   font-size: 17px;
   font-weight: 500;
   animation: showText 0.5s 1s linear forwards;   
   opacity: 0;
}

.horizontal-bars .bar .progress-line{
   position: relative;
   border-radius: 10px;
   width: 100%;
   height: 5px;
   background-color: #000;
   animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
   transform: scaleX(0);
   transform-origin: left;
}
@keyframes animate{
   100%{
       transform: scaleX(1);
   }
}
.horizontal-bars .bar .progress-line span{
   height: 100%;
   background-color: #129cff;
   position: absolute;
   border-radius: 10px;
   animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
   transform: scaleX(0);
   transform-origin: left;
}
.progress-line.html span{
   width: 90%;
}
.progress-line.css span{
   width: 60%;
}
.progress-line.jquery span{
   width: 85%;
}
.progress-line.python span{
   width: 50%;
}
.progress-line.mysql span{
   width: 75%;
}

.progress-line span::after{
   position: absolute;
   padding: 1px 8px;
   background-color: #000;
   color: #fff;
   font-size: 12px;
   border-radius: 3px;
   top: -28px;
   right: -20px;
   animation: showText 0.5s 1.5s linear forwards;   
   opacity: 0;
}
.progress-line.html span::after{
   content: "90%";
}
.progress-line.css span::after{
   content: "60%";
}
.progress-line.jquery span::after{
   content: "85%";
}
.progress-line.python span::after{
   content: "50%";
}
.progress-line.mysql span::after{
   content: "75%";
}
.progress-line span::before{
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   border: 7px solid transparent;
   border-bottom-width: 0px;
   border-right-width: 0px;
   border-top-color:#000;
   top: -10px;
   right: 0;
   animation: showText 0.5s 1.5s linear forwards;   
   opacity: 0;
}
@keyframes showText{
   100%{
       opacity: 1;
   }
}

.radial-bars{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: flex-start;
}
.radial-bars .radial-bar{
   width: 50%;
   height: 170px;
   margin-bottom: 10px;
   position: relative;
}
.radial-bars .radial-bar svg{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-90deg);
   width: 120px;
   height: 160px;
}
.radial-bars .radial-bar .progress-bar{
   stroke-width: 10;
   stroke: black;
   fill: transparent;
   stroke-dasharray: 502;
   stroke-dashoffset: 502;
   stroke-linecap: round;
   animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
   100%{
       stroke-dashoffset: -1;
   }
}
.path{
   stroke-width: 10;
   stroke: #129cff;
   fill: transparent;
   stroke-dasharray: 502;
   stroke-dashoffset: 502;
   stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}


@keyframes  animate-path1{
   100%{
   stroke-dashoffset: 50;
   }
}
@keyframes  animate-path2{
   100%{
   stroke-dashoffset: 175;
   }
}
@keyframes  animate-path3{
   100%{
   stroke-dashoffset: 125;
   }
}
@keyframes  animate-path4{
   100%{
   stroke-dashoffset: 75;
   }
}

.radial-bar .percentage{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 17px;
   font-weight: 500;
   animation: showText 0.5s 1s linear forwards;
   opacity: 0;

}
.radial-bar .text{
   width: 100%;
   position: absolute;
   text-align: center;
   left: 50%;
   bottom: -5px;
   transform: translateX(-50%);
   font-size: 17px;
   font-weight: 500;
   animation: showText 0.5s 1s linear forwards;
   opacity: 0;
}
